.app {
  height: 100%;
  display: flex;
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .app-enter-active, .app-leave-active {
    transition: opacity .5s, transform .5s;
  }
  .app-enter, .app-leave-to  {
    opacity: 0;
    transform: translateY(-20%);
  }
}
